[Unit]
Description=Set the RGB memory sticks to one colour (red)
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/sbin/ram-color FF0000
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
